.text-md {
  font-size: 1.143rem;
  margin-top: 0;
  box-sizing: border-box;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
  unicode-bidi: isolate;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  /* --font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.2;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card {
  position: relative;
  display: flex;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.1429rem;
}

html, body {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #424242;
  text-align: left;
  background-color: #f5f5f5;
}

:root {
  --blue: #2196f3;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ff1744;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #4caf50;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #9e9e9e;
  --gray-dark: #616161;
  --primary: #2196f3;
  --secondary: #9e9e9e;
  --success: #4caf50;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #ff1744;
  --light: #f5f5f5;
  --dark: #424242;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card-body {
  flex: 1 1 auto;
  padding: 24px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.text-sm {
  font-size: 0.9286rem;
}

.text-secondary {
  color: #9e9e9e !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.display-2 {
  font-size: 1.857rem;
  font-weight: 400;
  line-height: 1.2;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
} 

.text-success {
  color: #4caf50 !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px / 1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pl-1, .px-1 {
  padding-left: 8px !important;
  padding-bottom: 8px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
}

.border-top {
  border-top: 1px solid #e0e0e0 !important;
}

.btn-text:not(:disabled):not(.disabled).btn-secondary {
  color: #9e9e9e;
}

.btn-text, .btn-text:not(:disabled):not(.disabled) {
  background: none;
  border: none;
  box-shadow: none;
}

.btn-secondary {
  color: #ffffff;
}

.btn {
  font-size: 0.9286rem;
  font-weight: 500;
  text-transform: uppercase;
}

.align-items-center {
  align-items: center !important;
}

.btn-block {
  display: block;
  width: 100%;
}

.col > .card.h-100, [class*=col-] > .card.h-100 {
  height: calc(100% - 24px) !important;
}

.col > .card, [class*=col-] > .card {
  margin-bottom: 24px;
}

.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.02), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.h-100 {
  height: 100% !important;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.chartjs-size-monitor-expand>div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

label, .form-label {
  margin-bottom: 4px;
  line-height: 1.2;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

label {
  cursor: default;
}

.element.style {
  display: block;
  height: 394px;
  width: 789px;
}

.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms;
}

.form-control, .custom-select {
  border: none;
  border-bottom: 1px solid #2196f3;
  border-radius: 0.1429rem 0.1429rem 0 0;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select {
  word-wrap: normal;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 2.7143rem;
  padding: 0.5715rem 2.3571rem 0.5715rem 0.8571rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23616161' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 0.8571rem center / 16px;
  background-color: #f5f5f5;
  border: 1px solid #2196f3;
  border-radius: 0.1429rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


button, select {
  text-transform: none;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

select:not(:-internal-select-author-button) {
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  -webkit-rtl-ordering: logical;
  color: fieldtext;
  background-color: field;
  cursor: default;
  white-space: pre;
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
}

select {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
}

.col-12 {
  flex: 0 0 100%;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.d-block {
  display: block !important;
}

.ml-3, .mx-3 {
  margin-left: 24px !important;
}

.mb-2, .my-2 {
  margin-bottom: 16px !important;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.mb-5, .my-5 {
  margin-bottom: 40px !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.thumbnail {
  display: inline-block;
  width: 100%;
  max-width: 40px;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  padding: 10px 10px 10px 24px;
}

.mr-2, .mx-2 {
  margin-right: 16px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

